{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My profile{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="text-center mt-4">
                <h1>My profile</h1>
            </div>
            <div class="card my-4">
                <div class="card-body px-4">
                    <dl class="row">
                        <dt class="col-sm-3">Username</dt>
                        <dd class="col-sm-9">{{ user.username }}</dd>
                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">{{ user.email }}</dd>
                        <dt class="col-sm-3">Join date</dt>
                        <dd class="col-sm-9">{{ user.date_joined|date:"d-m-Y" }}</dd>
                        <dt class="col-sm-3">Total tips</dt>
                        <dd class="col-sm-9">{{ tips }}</dd>
                    </dl>
                </div>
                <div class="card-footer d-flex px-1">
                    <div class="col-5">
                        <a href="/profile/tips-list">
                            <button class="btn btn-green">Show all my tips</button>
                        </a>
                    </div>
                    <div class="col-7 text-right">
                        <a href="/profile/change-password">
                            <button class="btn btn-dark text-right">Change password</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}